<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Tomekeeper</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>Tomekeeper</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>FlutterDeepLinkingEnabled</key>
		<false/>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>UIApplicationSceneManifest</key>
		<dict>
			<key>UIApplicationSupportsMultipleScenes</key>
			<false/>
			<key>UISceneConfigurations</key>
			<dict>
				<key>UIWindowSceneSessionRoleApplication</key>
				<array>
					<dict>
						<key>UISceneClassName</key>
						<string>UIWindowScene</string>
						<key>UISceneConfigurationName</key>
						<string>flutter</string>
						<key>UISceneDelegateClassName</key>
						<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
						<key>UISceneStoryboardFile</key>
						<string>Main</string>
					</dict>
				</array>
				<key>CPTemplateApplicationSceneSessionRoleApplication</key>
				<array>
					<dict>
						<key>UISceneClassName</key>
						<string>CPTemplateApplicationScene</string>
						<key>UISceneConfigurationName</key>
						<string>CarPlay</string>
						<key>UISceneDelegateClassName</key>
						<string>flutter_carplay.FlutterCarPlaySceneDelegate</string>
					</dict>
				</array>
			</dict>
		</dict>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIBackgroundModes</key>
		<array>
			<string>audio</string>
			<string>fetch</string>
		</array>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<true/>
		</dict>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>audiobookshelf</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>CFBundleURLName</key>
				<string>com.zachyazzie.tomekeeper.setup</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>tomekeeper</string>
				</array>
			</dict>
		</array>
		<key>UIStatusBarHidden</key>
		<false/>
		<key>NSMotionUsageDescription</key>
		<string>Absorb uses motion to detect shaking, which can reset or extend your sleep timer.</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>Absorb may use the microphone for audio features.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>Absorb needs access to your photo library to save or select images.</string>
		<key>NSCameraUsageDescription</key>
		<string>Absorb does not use the camera. This entry is required because a third-party library Absorb depends on references the camera API.</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>Absorb does not use your location. This entry is required because a third-party library Absorb depends on references the location API.</string>
		<key>ITSAppUsesNonExemptEncryption</key>
		<false/>
		<key>UIApplicationShortcutItems</key>
		<array>
			<dict>
				<key>UIApplicationShortcutItemType</key>
				<string>continue_listening</string>
				<key>UIApplicationShortcutItemTitle</key>
				<string>Play</string>
				<key>UIApplicationShortcutItemIconType</key>
				<string>UIApplicationShortcutIconTypePlay</string>
			</dict>
			<dict>
				<key>UIApplicationShortcutItemType</key>
				<string>open_search</string>
				<key>UIApplicationShortcutItemTitle</key>
				<string>Search</string>
				<key>UIApplicationShortcutItemIconType</key>
				<string>UIApplicationShortcutIconTypeSearch</string>
			</dict>
			<dict>
				<key>UIApplicationShortcutItemType</key>
				<string>open_downloads</string>
				<key>UIApplicationShortcutItemTitle</key>
				<string>Downloads</string>
				<key>UIApplicationShortcutItemIconType</key>
				<string>UIApplicationShortcutIconTypeCloud</string>
			</dict>
			<dict>
				<key>UIApplicationShortcutItemType</key>
				<string>open_bookmarks</string>
				<key>UIApplicationShortcutItemTitle</key>
				<string>Bookmarks</string>
				<key>UIApplicationShortcutItemIconType</key>
				<string>UIApplicationShortcutIconTypeBookmark</string>
			</dict>
		</array>
	</dict>
</plist>
